# Node.js
node_modules/
package-lock.json

# Compiler & Output
bin/
*.exe
*.dll
*.o
*.ppu
*.js
!core/**/*.js
!demo-app/**/*.js

# Logs and debug
compile_log.txt
compile_err.txt
*.log

# Compiler specific tools
pas2js-win64-x86_64-3.2.0/

# IDE files
.vscode/
.idea/
*.swp
*.bak
